body {
    font-family: system-ui, sans-serif;
    background: #111;
    padding: 0;
    margin:0;
    color: white;
}

#container {
    max-width: 800px;
    margin:auto;
    padding: 5px;
    padding-top: 0;
}

#drives_container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 5px;
}

.drive{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #222;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.folders{
    
    margin-top: 10px;
    background-color: #111;
    border-radius: 5px;
    padding: 5px;
    display: flex;
}

button {
    flex-grow: 1;
    margin: 5px;
    background: #333;
    border: 2px solid #444;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

.folders button {
    padding: 15px;
    font-size: 18px;
}

button:hover {
    background: #444;
}

button:disabled {
    background-color: #222;
    color: #333;
    cursor: default;
}

button.selected {
    background-color: #555;
    border-color: #aaa;
}

button.destructive {
    border-color: #a33;
    background: #221313;
    color: #f88;
}

button.destructive:hover {
    background: #3a1111;
}

.checkbox{
  cursor: pointer;
  font-size: 22px;
  background-color: #111;
  padding:5px;
  border-radius: 5px;
  margin-top: 5px;
}

.checkbox:hover{
    background-color: #222;
}

#stop_btn_container {
    width: 100%;
    text-align: right;
}

#out_container {
    border: 1px solid #333;
    margin-top: 10px;
    border-radius: 5px;
}

#out_container * {
    margin: 0;
}

#command {
    background: #222;
    white-space: pre-wrap;
    border-radius: inherit;
    padding: 5px;
}

#output {
    padding: 5px;
    border-radius: inherit;
    background: #000;
    white-space: pre-wrap;
    font-family: ui-monospace, monospace;
    font-size: 0.85rem;
    max-height: 400px;
    overflow-y: auto;
}